extends ../layout

block content
  div(class='container')
    h3(class='title is-4')= title
    form(method='post', action='/add')
      div(class='field')
        label(class="label")= "Name"
        div(class="control")
          input(class='input', type='text', name='name','required')
      div(class='field')
        label(class="label")= "Email"
        div(class="control")
          input(class='input', type='email', name='email','required')
      div(class='field')
        label(class="label")= "Phone"
        div(class="control")
          input(class='input', type='number', name='phone','required')
      div(class='field')
        label(class="label")= "Address"
        div(class="control")
          textarea(class='textarea',name='address','required')
      div(class='field')
        label(class="label")= "Company"
        div(class="control")
          input(class='input', type='text', name='company','required')
      div(class='field')
        label(class="label")= "Website"
        div(class="control")
          input(class='input', type='text', name='website','required')            
      div(class=['field', 'is-grouped'])
        div(class="control")
          button(class=["button", "is-success"])= "Submit"
        div(class="control")
          button(class=["button", "is-link"])= "Cancel"
  
  br
  br
  br